.result-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: space-between;
    min-height: 100vh;
}

.result-head {
    gap: var(--md-space);
    margin-bottom: var(--md-space);
    padding: var(--lg-space);
}

.result-heading {
    display: flex;
    justify-content: space-between;
}

.result-option {
    background-color: var(--option-bg-color);
    border-radius: 5px;
    padding: var(--md-space);
}

.answers {
    display: flex;
    flex-direction: column;
    row-gap: var(--lg-space);
    width: 90%;
    max-width: 112.5rem;
    margin: auto;
}